---
# --- 5. Systemd 服务 ---
- template:
    src: templates/orchestrator.service.j2
    dest: /etc/systemd/system/orchestrator.service
    mode: '0644'
  notify: Restart Orchestrator


# --- 6. 配置文件 ---
- template:
    src: orchestrator.conf.json.j2
    dest: /etc/orchestrator.conf.json
    mode: '0644'
  notify: Restart Orchestrator

# --- 7. 部署脚本 ---
- template:
    src: orc_vip_hook.sh.j2
    dest: /usr/local/bin/orc_vip_hook.sh
    mode: '0755'

# --- 8. 启动与重新发现 ---
- name: 重新加载 Systemd 并启动 Orchestrator
  systemd: { name: orchestrator, state: restarted, daemon_reload: yes, enabled: yes }

- name: 等待服务启动
  wait_for: { port: 3000, delay: 5 }

- name: 强制重新发现拓扑
  uri:
    url: "http://127.0.0.1:3000/api/discover/{{ initial_master_ip }}/3306"
    method: GET
    status_code: 200
  ignore_errors: yes