---
# --------------------------------------------------------
# 模式 1: 配置 MySQL 节点 (Agent)
# 当变量 orc_mode == 'agent' 时执行
# --------------------------------------------------------
- block:
    - include_tasks: dependencies.yml
    - include_tasks: configure_agent.yml
  when: orc_mode == 'agent'

# --------------------------------------------------------
# 模式 2: 部署管理端 (Server)
# 当变量 orc_mode == 'server' 时执行
# --------------------------------------------------------
- block:
    - include_tasks: prepare_backend.yml
    - include_tasks: install.yml
    - include_tasks: configure.yml
  when: orc_mode == 'server'